<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta name="generator" content="Nette Framework">
        <meta name="viewport" content="width=device-width">

        <title>{include title|strip} - My application skeleton</title>
    </head>
    <body>
        {include content}
    </body>
</html>
