# Redirect request
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule (.*) www/$1 [L]
</IfModule>

# Cache assets
<IfModule mod_expires.c>
	ExpiresActive on
	ExpiresDefault A600
	ExpiresByType text/html A60
	ExpiresByType text/css A604800
	ExpiresByType image/gif A604800
	ExpiresByType image/png A604800
	ExpiresByType image/jpeg A604800
	ExpiresByType image/x-icon A604800
	ExpiresByType text/javascript A604800
</IfModule>

# Disable directory listing
<IfModule mod_autoindex.c>
	Options -Indexes
</IfModule>