application:
	scanDirs: off
	mapping:
		*: App\Modules\*\Presenters\*Presenter

php:
	date.timezone: Europe/Prague

session:
	expiration: 14 days
	savePath: '%tempDir%/sessions'

tracy:
	fromEmail: mailer@sitole.cz
	email: sveceny@sitole.cz

mail:
	smtp: true
	host: smtp.seznam.cz
	username: mailer@sitole.cz
	password: 2cjcqVdMcSjbR8DQhh6s
	secure: ssl

database:
	dsn: 'mysql:host=localhost;dbname=local_experimantal'
	user: 'root'
	password: ''
	options:
		lazy: true

services:
	router: App\Factories\RouterFactory::create
	authenticator: App\Models\Authentication
